<%
if @cssclass.nil?
  @cssclass= 'list-line-odd'
end
%>
  <div id="dependencia_<%= @dependencia.id %>" class="row <%= $cssclass unless $cssclass.nil? %>">
    <div class="datagrid-cell">
      <div id="dependencia_<%= @dependencia.id %>_id" class="col-xs-1 col-sm-1 col-md-1  col-lg-1"><%= @dependencia.id %></div>
      <div id="dependencia_<%= @dependencia.id %>_nombre" class="col-xs-3 col-sm-3 col-md-3  col-lg-3"><%= @dependencia.nombre %></div>
      <div id="dependencia_<%= @dependencia.id %>_descripcion" class="col-xs-2 col-sm-2 col-md-2  col-lg-2"><%= @dependencia.descripcion %></div>
      <div id="dependencia_<%= @dependencia.id %>_codigo" class="col-xs-1 col-sm-1 col-md-1  col-lg-1"><%= @dependencia.codigo %></div>
      <div id="dependencia_<%= @dependencia.id %>_organismo" class="col-xs-3 col-sm-3 col-md-3  col-lg-3"><%= @dependencia.organismo.nombre unless @dependencia.organismo.nil? %></div>
      <div class="col-xs-2 col-sm-2 col-md-2  col-lg-2"  style="text-align: right;">

         <div class="btn-group" style="margin-top: 3px; margin-bottom: 3px;">

           <%= link_to image_tag("view16x16.png",{:align => "middle",  :alt=>"Ver", :border => "0"}), @dependencia ,{:title =>"Ver más información", :class=>"boton-row"}%>

           <% if ! mobile_device? %>
              <%= link_to image_tag("edit16x16.png",{:align => "middle", :alt=>"Editar", :border => "0"}), "#",{:title =>"Editar", :class=>"boton-row", :onClick=>"return editDependencia('#{edit_dependencia_path(@dependencia,:remote=>true)}');"}%>
              <%= link_to image_tag("delete16x16.png",{:align => "middle",  :alt=>"Eliminar", :border => "0"}), delete_dependencia_path(@dependencia), {data: { confirm: 'Eliminara la dependencia. ¿Esta seguro?' },:title =>"Eliminar", :class=>"boton-row",:remote=>true }%>
           <% else %>

                 <%= link_to image_tag("edit16x16.png",{:align => "middle", :alt=>"Editar", :border => "0"}), edit_dependencia_path(@dependencia),{:title =>"Editar", :class=>"boton-row"}%>
                 <%= link_to image_tag("delete16x16.png",{:align => "middle",  :alt=>"Eliminar", :border => "0"}), @dependencia, {method: :delete, data: { confirm: 'Eliminara el dependencia. ¿Esta seguro?' },:title =>"Eliminar", :class=>"boton-row"}%>
           <% end %>

           <%=
           #
           %>
         </div>
      </div>
    </div>
  </div>
