  <% if @organismo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organismo.errors.count, "error") %> produjo que el Organismo no se guardara:</h2>

      <ul>
      <% @organismo.errors.each_with_index do |msg, i| %>
  		  <li><%= msg[1] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="message-remote"></div>
<%= form_for(@organismo , :remote =>  params[:remote]) do |f| %>
  <div class="form-group">
    <%= f.label :nombre, :class=>"required" %><br />
    <%= f.text_field :nombre , :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :alias %><br />
    <%= f.text_field :alias, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :codigo %><br />
    <%= f.text_field :codigo,  :class => 'form-control' %>
  </div>
 <div class="form-group">
    <center><%= f.submit "Aceptar", :class => 'btn  btn-primary' %></center>
  </div>
<% end %>
