<div class="toolbar">
    <%= render :partial => "devise/shared/links" %>
</div>
<div class="form-v1">
<h1>Cambiar contrase単a de acceso</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field-space">
      <%= f.label :password, "Nueva Contrase単a" %><br />
      <%= f.password_field :password , :class => "field-v1"%>
  </div>

  <div class="field-space">
      <%= f.label :password_confirmation, "Confirmar Contrase単a" %><br />
      <%= f.password_field :password_confirmation, :class => "field-v1" %>
 </div>

  <div><%= f.submit "Cambiar mi contrase単a" %></div>
<% end %>


</div>
