<%= render 'js_form_procesar_nota_pendiente.js' %>
<div class="form-v3">
    <div class="box-toolbar">
        <ul>
        <li><%= link_to image_tag("list16x16.png",{:align => "middle", :title =>"Ir al listado de Documentos pendientes", :alt=>"Listar", :border => "0"})+"Listado", pendientes_notas_path %></li>
        </ul>
    </div>

<h1>Dar ingreso a Documento Pendiente</h1>

<%= form_for @nota, url: process_pendiente_notas_path,  method: :post do |f| %>
<%= hidden_field_tag 'nota_temporal_id', @nota_temporal.id %>
<%= f.hidden_field :cargado_por_id %>
<%= f.hidden_field :codigo %>
<%= f.hidden_field :fecha_carga %>


  <% if @nota.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nota_temporal.errors.count, "error") %> produjo que el Documento no se guardara:</h2>
      <ul>
      <% @nota.errors.each_with_index do |msg, i| %>
          <li><%= msg[1] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <h2>Codigo: <%= @nota.codigo %></h2>
  </div>
  <div class="field">
    <label for="remitente_fullname" class="required">Remitente</label>
    <p>
    <%= f.hidden_field :remitente_id %>
    <div id="div-sel-remitente">
    <input type="text" name="remitente_fullname" id="remitente_fullname" size="40" class="field"/>
    <%= link_to (image_tag("addModal.jpg",{:alt=>"Nuevo Remitente", :title=>"Abrir ventana Nuevo Remitente"})), "#", :id => "link_open_nuevo_remitente" %>
    <%= link_to (image_tag("add-02.png",{:alt=>"Nuevo Remitente Facultad", :title=>"Abrir ventana Nuevo Remitente de la Facultad"})), "#", :id => "link_open_nuevo_remitente_facultad" %>
    <br>
    </div>
    <strong>Remitente Seleccionado:</strong><br><span id="text_remitente_id" class="text-selected-obj"></span>
    </p>
  </div>




  <div class="field">
      <hr>
    <label for="destinatario_fullname" class="required">Destinatario

        </label>
        <p>
        <%= f.hidden_field :destinatario_id %>
        <input type="text" name="destinatario_fullname" id="destinatario_fullname" size="40" class="field"/>
        <%= link_to (image_tag("addModal.jpg",{:alt=>"Nuevo Destinatario", :title=>"Abrir ventana Nuevo Destinatario"})), "#", :id => "link_open_nuevo_destinatario" %>
        <%= link_to (image_tag("add-02.png",{:alt=>"Nuevo Destinatario Facultad", :title=>"Abrir ventana Nuevo Destinatario de la Facultad"})), "#", :id => "link_open_nuevo_destinatario_facultad" %><br>

        <strong>Destinatario seleccionado:</strong><br><span id="text_destinatario_id" class="text-selected-obj"></span>
        </p>
  </div>
    <div class="field">
        <hr>
        <%= f.label :tipo_nota_id, "Tipo de Nota", :class=>"required" %>
        <%= f.select :tipo_nota_id, @tipos_notas.collect {|p| [ p.nombre, p.id ] },{},{ :class=>"field small"} %>
        <span>&nbsp;&nbsp;</span>
        <%= f.label :fecha_nota , :class=>"required"%>
        <%= f.text_field :fecha_nota, :class=>"field small", :size =>"10", :value => (@nota.fecha_nota || Time.now).strftime('%d-%m-%Y') %>

    </div>
  <div class="field">
    <p><%= f.label :tema, "Descripción", :class=>"required" %><br />
    <%= f.text_field :tema, :class=>"field", :size=>"55" %></p>
  </div>
          <div class="field">
            <%= f.label :descripcion, "Observaciones" %><br />
            <%= f.text_area :descripcion, :class=>"field", :size=>"80x5" %>
          </div>
  <div class="actions">
    <center><%= f.submit "Aceptar", :class=>"button-v2" %></center>
  </div>
<% end %>

<div id="div-add-modal" title="Nueva Dependencia" style="display:none"></div>

</div>
