<div class="form-v3">

<h1>Cambiar la contrase単a de acceso</h1>


<%= form_tag :controller=>"profile", :action => "update_password" , :method => :post do  %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>  produjo que la contrase単a no se actualizara:</h2>
      <ul>
        <% @user.errors.each_with_index do |msg, i| %>
          <li><%= msg[1] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="box-key-values">
    <p><span class="text-key">Nombre de Usuario:</span> <%= @user.username %></p>
    <p><span class="text-key">Email:</span> <%= @user.email %></p>
    <p><span class="text-key">Dependencia:</span> <%= @user.dependencia.fullname unless @user.dependencia.nil? %></p>
  </div>
  <div class="field">

    <%= label_tag :current_password, "Contrase単a Actual", :class => 'required' %><br />
    <%= password_field_tag :current_password%>
  </div>
  <div class="field">
    <%= label_tag :password, "Nueva Contrase単a", :class => 'required' %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag :password_confirmation, "Confirmar", :class => 'required' %><br />
    <%= password_field_tag :password_confirmation %>
  </div>
 <div class="actions">
    <center><%= submit_tag "Aceptar", :class => 'button-v1' %></center>
  </div>
<% end %>

</div>
